.table-container {   position: absolute;   max-height: 100%;   overflow: auto;   width: 100%;   padding: 15px; }
.table {   display: table; }
.table-row.no-margin {    padding: 3px 6px;   font-size: 1em;   display: table-row; }
.header-row > .cell {   padding: 5px;   display: table-cell;   font-weight: 400;   color: #727982;   text-align: center; }
.table-row-group {    display: table-row-group; }
.table-row-group .generic {   text-align: center; }
.table-row-group.generic {   text-align: center; }
.cell {   padding: 5px;   display: table-cell;   font-weight: 400;   border-bottom: 1px solid #727982; }
.cell:hover > .cell {   cursor: default;}
.active {   background-color: rgba(255, 255, 255, 0.2); }
.link {   cursor: pointer !Important; }

        