<div class="table-container" [ngStyle]="{'position': false ? 'absolute' : 'static'}">
<div class="table" (mouseout)="FireHighlight(null)" >
    <div class="table-row no-margin header-row"  >
        <div *ngFor="let h of (_config.Headers | slice: ReduceToColumn );" class="cell"  >{{h}}</div>
    </div>
    <ng-container *ngFor="let r of _config.Rows; let i=index">
            <ng-container *ngIf="templateRef">
                <div class="table-row-group " 
                    [ngClass]='{active: _activeIndex == i, link: _config.IsClicable}' 
                    (mouseover)="FireHighlight(r, i)"
                    (click)="FireClick(r)">
                        <template [ngTemplateOutlet]="templateRef"  [ngOutletContext]="{ item: { row : r, reduceToColumn : ReduceToColumn } }" ></template>
                </div>
            </ng-container>
            <ng-container *ngIf="!templateRef">
                <div class="table-row-group generic" 
                    [ngClass]='{active: _activeIndex == i, link: _config.IsClicable}'  
                    (mouseover)="FireHighlight(r, i)"
                    (click)="FireClick(r)">
                    <div class="table-row no-margin">
                        <div class="cell" *ngFor="let c of  ( r  | slice: ReduceToColumn );">
                            {{c}}
                        </div>    
                    </div>
                </div>
            </ng-container>
    </ng-container>
</div>
</div>
